{% extends "base.html" %}
{% block title %}
    Memberships
{% endblock %}
{% block mode %}
    <h1>Wellcome to club DJango</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            {% for dt in data %}
            <tr>
                <td>{{ dt.id }}</td>
                <td>{{ dt.firstname }}</td>
                <td>{{ dt.lastname }}</td>
                <td>{{ dt.age }}</td>
                <td>{{ dt.sex }}</td>
                <td><a href="info/{{ dt.id }}">info</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="w-full text-center">
        <a href="add" class="btn btn-primary">Create Members</a>
    </div>
    {% comment %}
      just test comment
    {% endcomment %}
{% endblock %}
